.transactions-container{
  padding-top: 20px;
  display: flex;
}

.transactions-container > div{
  flex: 1.8;
  margin-right: 100px;
}
.transactions-container > div:last-child{
  width: 400px;
  margin: 0;
  flex: 1;
}

.transactions-container .section-title{
  font-size: 28px;
  font-family: 'Helvetica Medium';
  color: #615f5f;
  margin-top: 0;
  font-weight: 300;
}
.table-container{
  padding: 20px 20px 20px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.table-container table{
  width: 100%;
  border: 0;
  border-collapse: collapse;
}
.table-container table th{
  text-align: left;
  padding: 0px 10px 20px 0;
  font-weight: 700;
  font-family: 'Helvetica Medium';
  border-bottom: 1px solid #ddd;
  color: #333;
  font-size: 12px;
}
.table-container table td{
  padding: 10px 10px 10px 0;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
.table-container table tr:last-child td{
  border: none;
}


.transactions-container > div form{
  width: 300px;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 30px 20px 20px 20px;
}
.transactions-container > div form h3{
  margin-top: 0;
}

.input-div{
  margin-bottom: 20px;
}
.input-div label{
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: #999;
}
.input-div input,
.input-div select{
  border: none;
  border-bottom: 1px solid #d6d6d6;
  width: 100%;
  color: #2c3e50;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  padding: 6px 0;
}

.info-div p{
  font-size: 18px;
  text-decoration: underline;
}
.info-div label{
  margin-bottom: 5px;
  font-size: 12px;
  display: inline-block;
  margin-right: 20px;
  color: #666;
  width: 80px;
  text-decoration: none;
}
button[disabled]{
  opacity: .3;
}
button.btn-red{
  background-color: red;
}

.tbl-header-container{
  display: flex;
  width: 100%;
  align-items: center;
}
.tbl-header-container p{
  flex: 1;
}
.tbl-header-container .btn-option-container{
  flex: 1;
  text-align: right;
}

.daterangepicker.dropdown-menu{
  border: 1px solid #ccc;
}
.text-right{
  text-align: right;
}

.action-drop-wrapper{
  position: relative;
}
.action-drop-wrapper .action-drop{
  position: absolute;
  left: 0;
  top: 15px;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #FFF;
  padding: 5px 0;
}
.action-drop-wrapper .action-drop .action-div{
  display: block;
  padding: 10px;
  cursor: pointer;
  color: #666;
}
.form{
  display: none;
}
.form-js{
  display: block;
}
.formModal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.158);
  display: none;
}
.formModal-container{
  background-color: #297baf;
  max-width: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 95%;
  transform: translate(-50%,-50%);
  padding: 20px;
  border-radius: .3rem;
}
.closeContainer{
  color: #fff;
  text-align: right;
  font-weight: bolder;
}
.closeContainer p{
  margin: 0;
  cursor: pointer;
}
.formModal label{
  color: #000;
}
.formModal input{
  width: 95%;
  padding: 7px 5px;
  border-radius: .3rem;
  border: none;
  margin-bottom: 10px;
  margin-top: 5px;
  outline: none;
}
.formModal-js{
  display: block;
}
