html, body{
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Light';
  margin: 0;
  padding: 0;
}

button{
  background: #FFF;
  font-size: 14px;
  font-family: inherit;
  font-weight: 700;
  background-color: #0291ce;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
}