.header-container{
  display: flex;
  align-items: center;
  background-color: #3192CF;
  height: 50px;
  padding: 0 40px;
}
.header-container ul{
  padding: 0;
  margin: 0;
  height: 100%;
}
.header-container ul li{
  display: inline-block;
  height: 100%;
  width: 100px;
  margin: 0 10px;
}
.header-container ul li a{
  display: flex;
  text-decoration: none;
  color: #fff;
  align-items: center;
  border-bottom: 4px solid transparent;
  height: calc(100% - 4px);
  text-align: center;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}
.header-container ul li a.active{
  border-bottom: 4px solid #fff;
}

.content-container{
  padding: 20px 50px;
}